:root{
    --pink:#e84393;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
.wrapper {
    width: 430px;
    height: 550px;
    background: white;
    border: 2px solid rgba(225,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow:0 0 30px rgba(0, 0, 0,.5) ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease, height .2s ease ;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-family:Arial, Helvetica, sans-serif;
    }
    .wrapper.active-popup{
      transform: scale(1);
    }
    .wrapper .form-box{
      width:100% ;
      padding: 40px;
    }
    
    
    
    
    .wrapper .form-box.register{
      position: absolute;
      transition: none;    
    
    }
    
   
    
    .wrapper .icon-close{
      position: absolute;
      top: 0;
      right: 0;
      width: 45px;
      height: 45px;
      background: rgba(0, 0, 0, 0.774);
      font-size: 3rem;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom-left-radius: 20px;
      cursor: pointer;
      z-index:1 ;  
    }
    .wrapper .form-box h2{
    font-size: 3rem;
    color: #162938;
    text-align: center;
    }
    
    .wrapper .input-box {
      position: relative;
      width:  100%;
      height:50px;
      border-bottom: 2px solid #162938;
      margin: 30px 0;
      
    }
    .wrapper .input-box label{
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1rem;
      color: #162938;
      font-weight: 500;
      pointer-events: none;
      transition: .5s;
      font-size: 1.5rem;
    }
    .wrapper .input-box p{
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      font-size: 1rem;
      color: #162938;
      font-weight: 500;
      pointer-events: none;
      transition: .5s;
      font-size: 1.5rem;
    }
    .wrapper #email:focus{
      top: -8;
    
    }
    .wrapper .input-box input:focus~label,
    .wrapper .input-box input:valid~label{
      top: -2px;
    }
    .wrapper .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      font-size: 1.3rem;
      color: #162938;
      font-weight: 540;
      padding: 0 35px 0 5px;
    
    }
    
    .wrapper .input-box .icon{
      position: absolute;
      right: 8px;
      font-size: 2.5rem;
      color: #162938;
      line-height: 57px;
      
    }
    
    
    .wrapper .remember-forgot{
      font-size: 1.4rem;
      color: #162938;
      font-weight: 500;
      margin: -15px 0 15px ;
      display: flex;
      justify-content: space-between;
    
    }
    .wrapper .remember-forgot label input{
      accent-color: var(--pink);
      margin-right: 3px;    
    
    }
    .wrapper .remember-forgot a {
     
      color: #162938;
      text-decoration: none;
      font-weight: 550;
    }
    .wrapper .remember-forgot a:hover{
      text-decoration: underline;
      color: #e84393;
    }
    .wrapper .btn {
      width: 100%;
      height: 45px;
      background:var(--pink) ;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
    }
    #btn{
      width: 350px;
      height: 45px;
      background:var(--pink) ;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 2rem;
      color: #fff;
      font-weight: 500;
    }
    .wrapper .login-register{
      font-size:1.4rem;
      color: #162938;
      text-align: center;
      font-weight: 500;
      margin: 25px 0 10px;
    
    }
    .wrapper .login-register p a {
      color: #162938;
      text-decoration: none;
      font-weight: 600;
    }
    .wrapper .login-register a:hover{
      text-decoration: underline;
      color: #e84393;
    }
    