
:root{
    --pink:#e84393;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}



html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    
}

#heading-QuienesSomos {
    width: 80%;
    margin: 5rem auto 10rem auto;
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    background: rgba(255,51,153, .05);
}
  
  .heading-QuienesSomos span{
    color: var(--pink);
  }
  
/* Estilos para la sección 'about' */
.about {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}
.about2 {
    width: 100%;
    padding: 0px 0;
    margin-top: 5rem;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Estilos para la imagen */
.about img {
    margin-top: 10px;
    height: 280px;
    width: 400px;
    order: 2; /* Cambia el orden de la imagen */
    animation: fadeInUp 1s ease-in-out;

}
.about2 img{
    width: 400px;
    height: 350px;
    animation: fadeInUp 1s ease-in-out;

}
.about3 img{
    width: 400px;
    height: 400px;
}


/* Estilos para el texto */
.about-text {
    width: 550px;
    order: 1; /* Cambia el orden del texto */
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-h1{
    color: #333;
    font-size: 3.2rem; 
    text-transform: capitalize;
    margin-bottom: 15px;

    

}
.about-text h5{
    color: #5e5e5e;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    

}
span{
    color: rgb(230, 57, 152);
}
.about-text p{
    color: rgba(0, 0, 0, 0.712);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 1.5rem;
    margin-bottom: 45px;
}
.about3{
    margin-top: 5rem;
    margin-bottom: 100px;
}

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }



    @media (max-width:991px){
        html{
            margin-left: 10rem;
        }
        .about {
            width: 90%;
        }
        .about2 {
            width: 90%;
            margin-top: 4rem;
        }
        
        
        .about img {
            height: 200px;
            width: 300px;
        
        }
        .about2 img{
            width: 300px;
            height: 300px;
        }
        .about3 img{
            width: 300px;
            height: 300px;
        }
      
        
        
        .about-text {
            width: 300px;
        }
        
        .main{
            width: 700px;
            margin-top: 10rem;
        }
        .about-h1{
            font-size: 30px; 
            margin-bottom: 15px;
        
            
        
        }
        .about-text h5{
            font-size: 20px;
            margin-bottom: 10px;
            letter-spacing: 1px;
            
        
        }
      
        .about-text p{
            letter-spacing: 0.5px;
            line-height: 25px;
            margin-bottom: 49px;
        }
        .about3{
            margin-bottom: 80px;
        }

        
      }
    
    @media (max-width:768px){
        #heading-QuienesSomos{
            margin: 5rem 1px 1rem 1rem;

            font-size: 4rem;
        }
        .about {
            width: 80%;
            margin-top: 0;
        }
        .about2 {
            width: 80%;
            margin-top: 0rem;
        }
        
        
        .main {
            display: grid;
            grid-template-columns: 1fr; /* Una sola columna */
            grid-template-areas:
              "text"
              "img";
          }
        
          .about-text {
            text-align: center; /* Centrar el texto */
          }
        
          .about img,
          .about2 img,
          .about3 img {
            max-width: 100%; /* Asegurarse de que las imágenes no se desborden */
            margin: 0 auto; /* Centrar la imagen */
            order: initial; /* Restaurar el orden predeterminado de la imagen */
          }
        
          .about {
            margin-top: 2rem; /* Espaciado entre las secciones */
          }
        
          .about2 {
            margin-top: 2rem;
          }
        
          .about3 {
            margin-top: 2rem;
          }
        
          .about3 img {
            width: 100%; /* Asegurarse de que la imagen se ajuste al ancho del contenedor */
            height: auto; /* Evitar que la imagen se distorsione */
          }
      
      }  
      
      
      /* Estilos para la sección 'about' en dispositivos con un ancho máximo de 450px */
/* Estilos para la sección 'about' en dispositivos con un ancho máximo de 450px */
@media (max-width: 450px) {
    #heading-QuienesSomos{
        margin: 5rem 1px 1rem 1rem;

        font-size: 4rem;
    }
    
    .main {
      display: flex;
      flex-direction: column; /* Cambiar a disposición vertical */
      align-items: center; /* Centrar elementos verticalmente */
    }
    .about img{
        margin-top: 30rem;
    }
  
    .about img,
    .about2 img,
    .about3 img {
      max-width: 100%; /* Asegurarse de que las imágenes no se desborden */
      margin: 0 auto; /* Centrar la imagen */
    }
  
    .about-text {
      text-align: center; /* Centrar el texto */
    }
  
    .about,
    .about2,
    .about3 {
      margin-top: 2rem; /* Espaciado entre las secciones */
    }
  }
  
  
        